@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@keyframes doong1 {
    0% {
        top: 380px;
        left: 300px;
    }
    100% {
        top: 390px;
        left: 290px;
    }
}

@keyframes doong2 {
    0% {
        top: 150px;
        left: 1400px;
    }
    100% {
        top: 160px;
        left: 1410px;
    }
}

@keyframes doong3 {
    0% {
        top: 90px;
        left: 150px;
    }
    100% {
        top: 100px;
        left: 140px;
    }
}

@keyframes doong4 {
    0% {
        top: 120px;
        left: 350px;
    }
    100% {
        top: 110px;
        left: 340px;
    }
}

@keyframes doong5 {
    0% {
        top: 350px;
        left: 75px;
    }
    100% {
        top: 360px;
        left: 85px;
    }
}

@keyframes doong6 {
    0% {
        top: 350px;
        left: 1100px;
    }
    100% {
        top: 360px;
        left: 1090px;
    }
}

@keyframes doong7 {
    0% {
        top: 100px;
        left: 1050px;
    }
    100% {
        top: 90px;
        left: 1040px;
    }
}

html,
body {
    margin: 0;
}

.section {
    background-color: #fff4ef;
}

#page1 {
    width: 100%;
    height: 100vh;
    background-color: #ffbb00;
}

.curve {
    position: absolute;
    bottom: 0px;
    width: 110%;
    height: 40vh;
    left: -5%;
}

#cir {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

.item {
    width: 50px;
}

#i1 {
    /*숟가락*/
    position: absolute;
    top: 150px;
    left: 1400px;
    animation-name: doong2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#i2 {
    /*국자*/
    position: absolute;
    top: 380px;
    left: 300px;
    animation-name: doong1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#i3 {
    /*젓가락1*/
    position: absolute;
    top: 90px;
    left: 150px;
    animation-name: doong3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#i4 {
    /*삼각형1*/
    position: absolute;
    top: 120px;
    left: 350px;
    width: 60px;
    animation-name: doong4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#i5 {
    /*삼각형5*/
    position: absolute;
    top: 350px;
    left: 75px;
    width: 80px;
    animation-name: doong5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#i6 {
    position: absolute;
    top: 350px;
    left: 1100px;
    width: 80px;
    animation-name: doong6;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#i7 {
    position: absolute;
    top: 100px;
    left: 1050px;
    width: 80px;
    animation-name: doong7;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#phone {
    position: absolute;
    width: 20%;
    height: 75vh;
    background-color: transparent;
    border: 10px solid white;
    border-radius: 40px;
    top: 10vh;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sizedbox {
    width: 10px;
    height: 15vh;
}

#txt {
    font-family: "GmarketSansBold";
    color: white;
    font-size: 1.7rem;
    display: block;
    /* text-align: center;
    line-height: 55vh; */
}

.screen-l {
    width: 380px;
    margin-top: 90px;
    margin-left: 100px;
    box-shadow: 5px 5px 5px black;
    display: block;
}

.screen-r {
    width: 380px;
    margin-top: 90px;
    box-shadow: 5px 5px 5px black;
    display: block;
}

.r {
    margin-left: 10vw;
}

.wrapper {
    display: flex;
}

.mini-h {
    font-family: "GmarketSansMedium";
    font-size: 3rem;
    display: block;
    color: #f24928;
}

.big-h {
    font-family: "GmarketSansBold";
    font-size: 5rem;
    color: #e02315;
    display: block;
}

#big-h2 {
    font-size: 4rem;
}

.txt-wrap {
    flex-direction: column;
    align-items: center;
    margin-top: 35vh;
}

#footer {
    background-color: #fff4ef;
}

#google-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#google {
    width: 350px;
}

#google-txt {
    font-size: 3rem;
    font-family: "GmarketSansBold";
    color: #e02315;
}
