@font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@keyframes doong1 {
    0% {
        top: 380px;
        left: 300px;
    }
    100% {
        top: 390px;
        left: 290px;
    }
}

@keyframes doong2 {
    0% {
        top: 150px;
        left: 1400px;
    }
    100% {
        top: 160px;
        left: 1410px;
    }
}

@keyframes doong3 {
    0% {
        top: 90px;
        left: 150px;
    }
    100% {
        top: 100px;
        left: 140px;
    }
}

@keyframes doong4 {
    0% {
        top: 120px;
        left: 350px;
    }
    100% {
        top: 110px;
        left: 340px;
    }
}

@keyframes doong5 {
    0% {
        top: 350px;
        left: 75px;
    }
    100% {
        top: 360px;
        left: 85px;
    }
}

@keyframes doong6 {
    0% {
        top: 350px;
        left: 1100px;
    }
    100% {
        top: 360px;
        left: 1090px;
    }
}

@keyframes doong7 {
    0% {
        top: 100px;
        left: 1050px;
    }
    100% {
        top: 90px;
        left: 1040px;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

a {
    text-decoration: none;
}

.section {
    background-color: #fff4ef;
    display: flex;
}

#page1 {
    width: 100%;
    height: 100vh;
    background-color: #ffbb00;
}

.curve {
    position: absolute;
    bottom: 0px;
    width: 110%;
    height: 40vh;
    left: -5%;
}

#cir {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

.item {
    width: 50px;
}

#i1 {
    /*숟가락*/
    position: absolute;
    top: 150px;
    left: 1400px;
    animation-name: doong2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#i2 {
    /*국자*/
    position: absolute;
    top: 380px;
    left: 300px;
    animation-name: doong1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#i3 {
    /*젓가락1*/
    position: absolute;
    top: 90px;
    left: 150px;
    animation-name: doong3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#i4 {
    /*삼각형1*/
    position: absolute;
    top: 120px;
    left: 350px;
    width: 60px;
    animation-name: doong4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#i5 {
    /*삼각형5*/
    position: absolute;
    top: 350px;
    left: 75px;
    width: 80px;
    animation-name: doong5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#i6 {
    position: absolute;
    top: 350px;
    left: 1100px;
    width: 80px;
    animation-name: doong6;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#i7 {
    position: absolute;
    top: 100px;
    left: 1050px;
    width: 80px;
    animation-name: doong7;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#phone {
    position: absolute;
    width: 20%;
    height: 75vh;
    background-color: transparent;
    border: 10px solid white;
    border-radius: 40px;
    top: 10vh;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sizedbox {
    width: 10px;
    height: 15vh;
}

#txt {
    font-family: "GmarketSansBold";
    color: white;
    font-size: 30px;
    display: block;
    /* text-align: center;
    line-height: 55vh; */
}

.screen-l {
    width: 25vw;
    margin-top: 10vh;
    margin-left: 10vw;
    box-shadow: 5px 5px 5px black;
    display: block;
    /* flex: 1; */
}

.screen-r {
    width: 25vw;
    margin-top: 10vh;
    margin-right: 10vw;
    box-shadow: 5px 5px 5px black;
    display: block;
}

.screen-wrapper {
    flex: 1;
}

.r {
    margin-left: 10vw;
}

.wrapper {
    display: flex;
}

.wrapper2 {
    display: flex;
}

.mini-h {
    font-family: "GmarketSansMedium";
    font-size: 3rem;
    display: block;
    color: #f24928;
}

.big-h {
    font-family: "GmarketSansBold";
    font-size: 5rem;
    color: #e02315;
    display: block;
}

#big-h2 {
    font-size: 4rem;
    display: flex;
}

.txt-wrap {
    flex-direction: column;
    align-items: center;
    margin-top: 35vh;
    flex: 2;
}

#footer {
    background-color: #fff4ef;
}

#google-wrap {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

#google {
    position: relative;
    margin-top: 25px;
    width: 200px;
    z-index: 30;
}

#google-txt {
    font-size: 4rem;
    font-family: "GmarketSansBold";
    color: #e02315;
    width: 100%;
}

#real-text {
    display: flex;
    justify-content: center;
}

.line {
    width: 80%;
    height: 5px;
    background-color: #e02315;
}

#right-line {
    margin-left: 20%;
}

#line-wrap {
    margin-top: 30vh;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.div-line {
    width: 50vw;
    height: 3px;
    background-color: #e02315;
}

#line-wrap-txt {
    width: 10vw;
    font-size: 2.5rem;
    font-family: "GmarketSansBold";
    color: #e02315;
    text-align: center;
}

#foot-wrapper {
    margin-top: 3vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sns {
    height: 3.5rem;
    display: block;
}

#foot-wrapper > a > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#foot-wrapper > a > div > div {
    color: #2d81d4;
    font-size: 3rem;
    font-family: "GmarketSansBold";
    margin-left: 20px;
}

#footer-footer {
    position: absolute;
    bottom: 5vh;
}

@media (max-width: 1025px) {
    #phone {
        position: absolute;
        width: 40%;
        height: 60vh;
        background-color: transparent;
        border: 10px solid white;
        border-radius: 40px;
        top: 10vh;
        left: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .curve {
        position: absolute;
        bottom: 0px;
        width: 150%;
        height: 40vh;
        left: -5%;
    }

    .wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .wrapper2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .screen-l {
        width: 60vw;
        margin-top: 5vh;
        box-shadow: 5px 5px 5px black;
        display: block;
        margin-left: 0;
    }

    .screen-r {
        width: 60vw;
        margin-top: 5vh;
        box-shadow: 5px 5px 5px black;
        display: block;
        margin-right: 0;
    }

    .screen-wrapper {
        flex: 3;
    }

    .mini-h {
        font-family: "GmarketSansMedium";
        font-size: 3rem;
        display: block;
        color: #f24928;
    }

    .big-h {
        font-family: "GmarketSansBold";
        font-size: 5rem;
        color: #e02315;
        display: block;
    }

    #big-h2 {
        font-size: 4rem;
        display: flex;
    }

    #line-wrap-txt {
        width: 10vw;
        font-size: 2rem;
        font-family: "GmarketSansBold";
        color: #e02315;
        text-align: center;
    }

    .div-line {
        width: 45vw;
        height: 3px;
        background-color: #e02315;
    }

    .txt-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
        flex: 2;
    }

    #google-txt {
        font-size: 4rem;
        font-family: "GmarketSansBold";
        color: #e02315;
        width: 100%;
    }

    #real-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    #phone {
        position: absolute;
        width: 40%;
        height: 60vh;
        background-color: transparent;
        border: 10px solid white;
        border-radius: 40px;
        top: 10vh;
        left: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .curve {
        position: absolute;
        bottom: 0px;
        width: 150%;
        height: 40vh;
        left: -5%;
    }

    .wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .wrapper2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .screen-l {
        width: 60vw;
        margin-top: 5vh;
        box-shadow: 5px 5px 5px black;
        display: block;
        margin-left: 0;
    }

    .screen-r {
        width: 60vw;
        margin-top: 5vh;
        box-shadow: 5px 5px 5px black;
        display: block;
        margin-right: 0;
    }

    .screen-wrapper {
        flex: 3;
    }

    #line-wrap-txt {
        width: 10vw;
        font-size: 1.5rem;
        font-family: "GmarketSansBold";
        color: #e02315;
        text-align: center;
    }

    .mini-h {
        font-family: "GmarketSansMedium";
        font-size: 2rem;
        display: block;
        color: #f24928;
    }

    .big-h {
        font-family: "GmarketSansBold";
        font-size: 3rem;
        color: #e02315;
        display: block;
    }

    #big-h2 {
        font-size: 3rem;
        display: flex;
    }

    .txt-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
        flex: 2;
    }

    #google-txt {
        font-size: 3rem;
        font-family: "GmarketSansBold";
        color: #e02315;
        width: 100%;
    }

    #real-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {
    #phone {
        position: absolute;
        width: 75%;
        height: 70vh;
        background-color: transparent;
        border: 7px solid white;
        border-radius: 40px;
        top: 10vh;
        left: 12.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .curve {
        position: absolute;
        bottom: 0px;
        width: 150%;
        height: 40vh;
        left: -5%;
    }

    .wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .wrapper2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .screen-l {
        width: 70vw;
        margin-top: 5vh;
        box-shadow: 5px 5px 5px black;
        display: block;
        margin-left: 0;
    }

    .screen-r {
        width: 70vw;
        margin-top: 5vh;
        box-shadow: 5px 5px 5px black;
        display: block;
        margin-right: 0;
    }

    .screen-wrapper {
        flex: 3;
    }

    .mini-h {
        font-family: "GmarketSansMedium";
        font-size: 1.5rem;
        display: block;
        color: #f24928;
    }

    .big-h {
        font-family: "GmarketSansBold";
        font-size: 2rem;
        color: #e02315;
        display: block;
    }

    #big-h2 {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .txt-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
        flex: 2;
    }

    #google-txt {
        font-size: 2rem;
        font-family: "GmarketSansBold";
        color: #e02315;
        width: 100%;
    }

    #real-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div-line {
        width: 50vw;
        height: 3px;
        background-color: #e02315;
    }

    #line-wrap-txt {
        width: 15vw;
        font-size: 1rem;
        font-family: "GmarketSansBold";
        color: #e02315;
        text-align: center;
    }

    #foot-wrapper {
        margin-top: 3vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .sns {
        height: 2rem;
        display: block;
    }

    #foot-wrapper > a > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #foot-wrapper > a > div > div {
        color: #2d81d4;
        font-size: 1.5rem;
        font-family: "GmarketSansBold";
        margin-left: 10px;
    }
}
